.footer-bottom{
    border-top:1px solid var(--footer-border);
    padding:30px 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer-bottom p{
    color:var(--footer-text);
    margin:0;
    font-size: 13px;
}

.footer-bottom img{
    max-height:32px;
    object-fit:contain;
}

.footer-images .img-box{
    vertical-align: middle;
    margin: 1px;
    width: 56px;
    height: 32px;
    background-color: #d6d3cc;
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.25s;
    filter: invert(1);
    border-radius: 4px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-images {
    display: flex;
    align-items: center;
    gap: 4px;
}

@media (max-width: 767px){
    .footer-bottom{
        flex-direction: column;
        gap: 16px;
    }

    .newsletter-form button {
        padding: 0 16px;
        font-size: 13px;
    }
    .newsletter-form input {
        padding: 8px 8px 8px 20px;
        font-size: 13px;
    }
}

@media (max-width: 575px){
    .footer-menus {
        grid-template-columns: 1fr;
    }
}