.my-account-section {
  padding: 60px 0;
}

.my-account-wrapper {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 40px;
}


.my-account-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.my-account-sidebar li {
     padding: 8px 16px 8px 0;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    transition: 0.3s;
    background: transparent;
    font-size: 14px;
    color: var(--light-text-2);
}

.my-account-sidebar li:hover {
  background: #f7f7f7;
}

.account-title {
    font-size: 16px;
    font-weight: 700;
    color: var(--black-color);
}

.my-account-sidebar li.active {
    color: var(--black-color);
    font-weight: 700;
}

.my-account-overview h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.my-account-overview p {
    line-height: normal;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--light-text-2);
    font-size: 14px;
    flex-wrap: wrap;
}

.my-account-section a{
    color: var(--primary-color);
}
.my-account-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.my-account-card {
  min-height: 180px;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.my-account-card:hover {
  border-color: var(--primary-color);
}

.card-icon {
  font-size: 60px;
  color: #d3d3d3;
}

.my-account-card h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 991px) {
  .my-account-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .my-account-cards {
    grid-template-columns: 1fr;
  }
}