*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--primary-font);
  color: var(--text-color);
}

a{
  text-decoration: none !important;
  color: inherit;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
  display: block;
}

/* REMOVE SCROLLBAR */

::-webkit-scrollbar{
  width: 0;
  height: 0;
}

/* FIREFOX */

html{
  scrollbar-width: none;
}

:root {

  /* Colors */
  --primary-color: #08c;
  --secondary-color: #222529;
  --text-color: #777;
  --heading-color: #222529;
  --white-color: #fff;
  --black-color: #000;
  --border-color: #e7e7e7;
  --footer-border: #31363d;
  --bg-light: #f4f4f4;
  --danger-color: #ff3c3c;
  --light-color: #bde1f5;
  --footer-text: #a8a8a8;
  --green-color:#2eb872;
  --light-text-2: #7b858a;

  /* Fonts */
  --primary-font: 'Poppins', sans-serif;

}


.main-btn{
  padding: 16px 30px;
  background: var(--black-color);
  color: var(--white-color);
  font-size: 16px;
  display: inline-block;
  transition: all 0.5s ease;
}

.main-btn:hover{
  background: var(--primary-color);
}

.breadcrumb-section .breadcrumb-content a{
     color: var(--primary-color);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb-content {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 0;
}