.login-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.login-modal {
  width: 100%;
  max-width: 525px;
  background: var(--white-color);
  padding: 40px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
}

.login-modal h2 {
      font-size: 22px;
    margin-bottom: 20px;
}

.login-form-group {
  margin-bottom: 25px;
}

.login-form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

.login-form-group span {
  color: red;
}

.login-form-group input {
  width: 100%;
  height: 45px;
  border: 1px solid var(--border-color);
  padding: 0 15px;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}

.login-options label{
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}


.login-options a{
    color: var(--black-color);
}

.login-btn {
  width: 100%;
  height: 55px;
  border: none;
  background: var(--black-color);
  color: var(--white-color);
  font-weight: 700;
  cursor: pointer;
}

.register-now {
  text-align: center;
  margin-top: 35px;
  cursor: pointer;
      font-size: 16px;
    font-weight: 700;
}

.login-link {
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

@media (max-width: 576px){
    .login-modal {
        max-width: 95%;
        padding: 20px;
    }
    .login-options a {
        font-size: 12px;
    }
}