.contact-info-section {
  padding: 80px 0;
}


.contact-info-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.contact-card {
  text-align: center;
}

.contact-icon {
    font-size: 45px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.contact-card h4 {
    font-size: 20px;
    font-weight: 700;
    color: var(--heading-color);
    margin-bottom: 0;
}

.contact-card p {
  font-size: 14px;
  color: var(--light-text-2);
}

.contact-inner-content{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Tablet */
@media (max-width: 991px) {
  .contact-info-grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .contact-info-section {
    padding: 40px 0;
  }

  .contact-info-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

}