.why-choose-section {
      padding: 40px 0;
    background: var(--bg-light);
}


.choose-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.choose-card {
     background: var(--white-color);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.choose-icon {
  font-size: 50px;
  color: var(--primary-color);
  margin-bottom: 0px;
}

.choose-card h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--header-color);
  margin-bottom: 0px;
}

.choose-card p {
  color: var(--light-text-2);
  line-height: 27px;
  margin: 0;
}

.choose-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (max-width: 991px) {
  .choose-grid {
    grid-template-columns: 1fr;
  }
}