.about-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-hero-section {
  display: flex;
  align-items: start;
  justify-content: start;
  color: var(--black-color);
  padding: 80px 0;
}

.about-subtitle {
  display: block;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
}

.about-hero h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 0px;
  text-transform: uppercase;
  text-align: left;
  line-height: normal;
}

.about-hero-section .main-btn{
  margin-top: 30px;
}

.about-hero p {
  max-width: 650px;
  margin: 0 auto;
  line-height: 1.8;
  font-size: 18px;
}

.about-breadcrumb {
  margin-top: 24px;
  font-size: 14px;
}

/* Responsive */

@media (max-width: 768px) {
  .about-hero,
  .about-hero-overlay {
    min-height: 400px;
  }

  .about-hero h1 {
    font-size: 40px;
  }

  .about-hero p {
    font-size: 16px;
    padding: 0 20px;
  }
}